<div data-style="full">
          <div data-element="column" class="formkit-background" style="background-image: url(&quot;//pages.convertkit.com/assets/charlotte/bg.jpg&quot;);"></div>
          <div data-element="column" class="formkit-column"><div class="formkit-header" data-element="header" style="color: rgb(83, 83, 83); font-size: 28px; font-weight: 700;">
            <h1>Get our how to guide</h1>
          </div>
          <ul class="formkit-alert formkit-alert-error" data-element="errors" data-group="alert"></ul>
          <div data-element="fields" class="seva-fields formkit-fields">
            <div class="formkit-field">
              <input class="formkit-input" aria-label="Your first name" name="fields[first_name]" placeholder="Your first name" type="text" style="color: rgb(139, 139, 139); border-color: rgb(221, 224, 228); font-weight: 400;"></div>
              <div class="formkit-field">
                <input class="formkit-input" name="email_address" placeholder="Your email address" required="" type="email" style="color: rgb(139, 139, 139); border-color: rgb(221, 224, 228); font-weight: 400;">
              </div>
              <button data-element="submit" class="formkit-submit formkit-submit" style="color: rgb(255, 255, 255); background-color: rgb(246, 166, 171); border-radius: 3px; font-weight: 700;">
                  <div class="formkit-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <span>Send me the guide</span>
                </button>
              </div>
              <div class="formkit-disclaimer" data-element="disclaimer" style="color: rgb(139, 139, 139); font-size: 13px;">We respect your privacy. Unsubscribe at anytime.</div>
              <a href="http://convertkit.me" class="formkit-powered-by" data-element="powered-by" target="_blank" rel="noopener noreferrer">Powered By ConvertKit</a>
            </div>
          </div>
          
