{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}


{{ define "main" }}
<div class="reveal">
	<div class="slides">
		<section>Slide 1</section>
		<section>Slide 2</section>
	</div>
	<div id="home-footer">
		<p>
			&copy; {{ now.Format "2006" }} {{ .Site.Author.name }}.{{ .Site.Params.footerCopyright | safeHTML }}.
			<!-- <a href="/privacy" style="border-bottom: 1px solid;">privacy</a>. -->
			<!-- <a href="/privacy" style="border-bottom: 1px solid;">terms</a>. -->
		</p>
	</div>
</div>

	{{ partial "revealjs.html" . }}
{{ end }}
