<style>
  .centre-button{
    color: #fffafa;
    font-family: inherit;
    background: #fb6970;
    font-size: 45px;
    padding: 0.3em 0.9em;
    border: 1px solid #fb6970;
    margin-bottom: 20px;
    border-radius: 3px;
  }
  .video-button{
    color: #fb6970;
    font-family: inherit;
    background: transparent;
    font-size: 2.3em;
    padding: 0.3em 0.9em;
    /* margin: 0.3em; */
    border-radius: 3px;
    border: 1px solid;
    /* border: 1px dotted; */
    /* border-left: 0; */
    /* border-right: 0; */
    /* border-top: 0; */
    /* border-bottom: 0; */
  }
</style>
