<script async defer onload="redcircleIframe();" src="https://api.podcache.net/embedded-player/sh/938d15ef-fb10-46c7-a068-c86c11366733/ep/5ab374d9-02df-4fd9-81ae-0742c7da373d"></script>
    <div class="redcirclePlayer-5ab374d9-02df-4fd9-81ae-0742c7da373d"></div>

    {{ partial "custom/css/player-css.html" . }}

    <div class="container">
      <div class="podcast">
        <h4 class="podcast__episode_title">[trailer]story.legacy</h4>
        <!-- <h5 class="podcast__title"></h5> -->

        <div class="podcast__meta">
          <audio controls width="100%">
            <source src="https://stream.redcircle.com/private-episodes/5ab374d9-02df-4fd9-81ae-0742c7da373d/rct_a29fc57d-4ae0-485c-b38e-71d5bd712ba6/stream.mp3">
            Your browser does not support the audio tag.
          </audio>
        </div>
      </div>
    </div>

    {{ partial "custom/link/podcast-js-links.html" . }}
