&lt;p&gt;story.legacy at &lt;a href=&quot;http://ramiro.me/&quot;&gt;ramiro.me&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;a show for people who want to tell their story, make an impact and leave a legacy.&lt;/p&gt;
&lt;p&gt;learn how to tell stories that matter.
&lt;br&gt;personal stories from people just like you,
&lt;br&gt;who have gone through
&lt;br&gt;tough shit,
&lt;br&gt;and came out with a story to tell.
&lt;/p&gt;
&lt;p&gt;i am ramiro, creator of story.legacy, your story guide
&lt;br&gt;and on this show, i show how to tell better stories.
&lt;br&gt;stories that matter.
&lt;/p&gt;
&lt;p&gt;guests come to share their story and we dive into the life lessons learned from those personal experiences
&lt;br&gt;i share my personal stories, the challenges and growth that came with it.
&lt;/p&gt;
&lt;p&gt;for more content and training on personal story go to &lt;a href=&quot;http://ramiro.me/show&quot;&gt;ramiro.me/show&lt;/a&gt;&lt;/p&gt;
