<p>
  story.legacy at <a href="http://ramiro.me/">ramiro.me</a>
</p>
<p>
  a show for people who want to tell their story,<br>
  make an impact and leave a legacy.
</p>
<p><br></p>
<p>
  learn how to tell stories that matter.<br>
  personal stories from people just like you,<br>
  who have gone through,<br>
  tough shit, and came out with,<br>
  a story to tell.
</p>
<p><br></p>
<p>
  i am ramiro, creator of story.legacy,<br>
  your story guide. on this show, i show how to<br>
  tell better stories.<br>
  stories that matter.<br>
</p>
<p></p>
<p>
  guests share their story. we dive into the<br>
  life lessons learned from those experiences.<br>
  i share my personal stories, the challenges and<br>
  growth that came with it.<br>
</p>
<p><br></p>
<p>
  for more content and training on personal story<br>
  go to <a href="http://ramiro.me/show">ramiro.me/show</a>.
</p>
