/*!
 * modal 0.1
 * http://lab.hakim.se/modal
 * MIT licensed
 *
 * Created by Hakim El Hattab, http://hakim.se
 */

body {
	/* display: flex; */
}

.modal-active body {
	/* transform: scale( 0.9 ); */
}

.modal-cover {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	background: rgba(51,51,51,0.7);
}
	.modal-active .modal-cover {
		visibility: visible;
		opacity: 1;
	}

.modal-contents {
	position: relative;
	padding: 0;
	max-width: 700px;
	margin: auto;
}
	.modal-active .modal-contents {
		-webkit-filter: blur(2px);
		   -moz-filter: blur(2px);
		    -ms-filter: blur(2px);
		        filter: blur(2px);
	}
	.no-blur.modal-active .modal-contents {
		-webkit-filter: none;
		   -moz-filter: none;
		    -ms-filter: none;
		        filter: none;
	}

.modal-popup {
	position: absolute;
	/* width: 89%;
	left: 5.5%;
	top: 5.5%;
	margin: 0; */
	visibility: hidden;
	opacity: 0;
	z-index: 3;
	/* padding: 30px; */

	border-radius: 3px;
	/* box-sizing: border-box; */

	/* transform: scale( 0.89 ); */
}
	.modal-active .modal-popup-animate {
		visibility: visible;
		opacity: 1;

		transform: scale( 0.89 );
	}
	.modal-popup.stack {
		/* transform: scale( 1.5 ); */
	}
	.modal-active .modal-popup.stack {
		transform: scale( 1.111 );
	}


.modal-ready body,
.modal-ready .modal-contents,
.modal-ready .modal-popup,
.modal-ready .modal-cover {
	transform-origin: 50% 50%;
	transition: 0.23s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.modal-ready .modal-popup.no-transition {
	transition: none;
}
