.footer-menu {
	font-family: courier,"courier new", monospace;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  color: #fffff0;
  text-align: center;
	padding: 0.9em;
}

a{
	color: #fffff0;
	text-decoration: none;
}
