<div data-style="clean">
  <ul class="formkit-alert formkit-alert-error" data-element="errors" data-group="alert"></ul>
  <div data-element="fields" data-stacked="false" class="seva-fields formkit-fields">
    <div class="formkit-field">
      <input class="formkit-input" aria-label="name..." name="fields[first_name]" required="" placeholder="name..." type="text">
    </div>
    <div class="formkit-field">
      <input class="formkit-input" name="email_address" placeholder="email..." required="" type="email">
    </div>
    <button data-element="submit" class="formkit-submit formkit-submit">
      <div class="formkit-spinner">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <span>apply now</span>
    </button>
  </div>
</div>
