<!-- Banner -->
<section class="banner style3 orient-right content-align-left image-position-center fullscreen onload-image-fade-up onload-content-fade-down ">
  <div class="content">
    <h3>i am ramiro,
      <br>creator of story legacy podcast
      <br>
      <br>launch date: 23 august 2021
      <br>
      <br>it'll also be my birthday.
      <br>come celebrate with me on zoom.
    </h3>
    {{ partial "embed/calendar/schedule_call-button.html" .}}
  </div>
  <div class="image">
    {{ with .Site.Params.logo }}<img src="{{.}}" alt="ramiro" />{{end}}
  </div>
</section>
