<!-- Banner -->
<section class="banner style3 orient-right content-align-left image-position-center fullscreen onload-image-fade-up onload-content-fade-down ">
  <div class="content">
    <h3>1on1 kapow session
      <br>with ramiro
      <br>—creator of story.legacy
      <br>
      <br>topics i specialise in
      <br>— story
      <br>— creativity
      <br>— clarity
    </h3>
    {{ partial "embed/calendar/schedule_call-button.html" .}}
  </div>
  <div class="image">
    {{ with .Site.Params.logo }}<img src="{{.}}" alt="ramiro" />{{end}}
  </div>
</section>
