<!-- this partial is for css styling the button -->
{{ partial "custom/css/top-bar-button-css.html" . }}

<!-- everything in aside will be in the popup window -->
<aside id="default-popup" class="modal-popup">
<!-- this partial is to keep the code modular and clear -->
  {{ partial "forms/opt-in-top.html" . }}
</aside>
<!-- everything in artical is to generate the button that triggers the popup windown -->
<article class="modal-contents">
  <p>join story tribe
  <!-- this button triggers the js actions edit onclick for number order dialog-->
    <button class="top-bar-button" onclick="javascript:openDialog();">apply now</button>
  </p>
</article>
