{{ define "main" }}
<!-- Wrapper -->
<div id="wrapper" class="divided">

<!-- Banner -->

<section class="sing banner {{ if isset .Params "invert" }} {{ .Params.invert}}{{else}} invert {{end}} style2 orient-center {{ .Params.contentAlign }} image-position-center fullscreen onload-image-fade-in onload-content-fade-in">

  <div class="content">
		{{ .Content }}
  </div>
  <div class="image">
    {{ with .Params.banner }}<img src="{{.img}}" alt="{{.alt}}" />{{end}}
  </div>
</section>

<!-- Wrapper -->
</div>
{{ end }}
