<!-- this partial is for css styling the buttons -->
{{ partial "custom/css/story_session-buttons-css.html" . }}
<div>
  <button class="centre-button" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/ramirocall/storysession?hide_event_type_details=0&primary_color=fb6970'});return false;">book now</button>  
</div>
<button class="video-button" onclick="Calendly.initPopupWidget({url: 'https://player.vimeo.com/video/413246917?autoplay=1&color=FB6970&title=0&byline=0&portrait=0'});return false;">> video</button>
