package layout

templ Footer() {
	<footer class="border-t border-bg-border py-6 mt-12">
		<div class="w-full max-w-5xl mx-auto px-4 text-center text-text-muted font-body text-sm">
			© 2026 ramiro.me
		</div>
	</footer>
}
